html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/*_______version mobile______*/
@media only screen and (max-width : 767px) {


  /*général*/
  /*header*/
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    color: white;
    height: 139px;
    text-align: center;
    align-items: center;
  }

  a#logo {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
  }



  /*_______page accueil (index.html)______*/

  .owl-carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }

  .slide {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, .5);
  }

  .slide-1 {
    background: url(images/image-slider1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slide-2 {
    background-image: url(images/image-services.png);
  }

  .slide-3 {
    background-image: url(images/image-inspiration.png);

  }

  .owl-dots {
    display: none;
  }




  /* Texte défilant */
  .messagedefilant {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 437px;
    height: 54px;
    background-color: black;
  }

  .messagedefilant div {
    position: absolute;
    margin-top: 12px;
    min-width: 100%;
    /* au minimum la largeur du conteneur */
  }

  .messagedefilant div span,
  .messagedefilant div:after {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    white-space: nowrap;
    top: 0;
  }

  .messagedefilant div span {
    animation: defilement 7s infinite linear;
    background: black;
    color: white;
    width: 437px;
  }


  @keyframes defilement {
    0% {
      margin-left: -200%;
    }

    100% {
      margin-left: 100%;
    }
  }



  /*section bienvenue */
  #bienvenue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B7B7A4;
  }

  #bienvenue h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }

  #bienvenue p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;

  }

  /*section inspiration */
  #inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A5A58D;
  }

  #inspiration h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }

  #inspiration p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;

  }

  /*btn voir plus*/
  #inspiration button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: black;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-bottom: 12px;
  }

  #inspiration button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: grey;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
  }

  #inspiration button:hover {
    color: #e8e8e8;
  }

  #inspiration button:hover::before {
    width: 100%;
  }

  /*section service */
  #service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6B705C;
  }

  #service h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }

  #service p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }

  /*btn voir plus*/
  #service button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: black;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-bottom: 12px;
  }

  #service button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: grey;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
  }

  #service button:hover {
    color: #e8e8e8;
  }

  #service button:hover::before {
    width: 100%;
  }

}