/*import*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&display=swap');
/**/


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*_____________________général_______________________*/



/*navbar*/
.navbar {
  height: 105px;
  width: 100%;
  background-color: #B7B7A4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*menu*/
.icon_menu {
  margin-left: 2%;
}

.icon_panier {
  margin-right: 2%;
}

.logo h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

}

/*menu fullscreen*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  /*positionne la barre de navigation en haut à gauche de la page*/
  z-index: 1;
  /*positionnée au-dessus des autres éléments de la page*/
  top: 0;
  left: 0;
  background-color: #a5a58df8;
  overflow-x: hidden;
  /* ne sera pas défilable horizontalement*/
  transition: 0.5s;
}

.sidenav-content {
  position: relative;
  width: 100%;
  margin-top: 12px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

.sidenav a:hover,
.sidenav a:focus {
  color: #f2f2f2;
}

.sidenav .closebtn {
  position: absolute;
  left: 22px;
  font-size: 60px;
  font-weight: 800;
  color: black;
}

.header-sidenav h2 {
  color: white;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.main-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.lien {
  margin-bottom: 74px;
}

.reseaux {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reseaux a {
  font-size: 50px;
}

.footer-sidenav {
  height: 100px;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  height: 94px;
  background: rgba(30, 30, 30, 0.82);
}

p#logo_footer {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-right: 38%;
  color: white;
  margin-top: 12px;
}

.footer a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #D9D9D9;
}


/**/

/*__________________________page accueil (index.html)___________________________*/

/*slider*/
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 501px;
  width: 100%;
}

#slider {
  position: relative;
  width: 100%;
  height: 510px;
  overflow: hidden;

}

.slide {
  position: absolute;
  width: 100%;
  height: 501px;
}

.slide img {
  width: 100%;
  height: 501px;
  object-fit: cover;
}

/*texte défilant */
.section_txt_defile {
  overflow: hidden;
  max-width: 100%;
  background: rgba(30, 30, 30, 0.82);
  color: white;
  height: 60px;
}

.txt_defile {
  white-space: nowrap;
  transform: translateX(50%);
  animation: defile 15s linear infinite;
}

.txt_defile p {
  font-size: larger;
}

.section_txt_defile:hover .txt_defile {
  animation-play-state: paused;
}

@keyframes defile {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/*section bienvenue */
#section_bienvenue {
  height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B7B7A4;
}

#section_bienvenue h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

#section_bienvenue p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

}

/*section inspiration */

#section_inspi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#txt_inspiration {
  height: 247px;
  width: 50%;
  background: #A5A58D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#txt_inspiration h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

#txt_inspiration p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

}

#txt_inspiration button {
  background: rgba(30, 30, 30, 0.82);
  border-radius: 15px;
  color: white;
  width: 121px;
}

#img_inspiration {
  height: 247px;
  width: 50%;
  background: url(../../images/img5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*section service */
#section_service {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#txt_service {
  height: 247px;
  width: 50%;
  background: #6B705C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#txt_service h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

#txt_service p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

}

#txt_service button {
  background: rgba(30, 30, 30, 0.82);
  border-radius: 15px;
  color: white;
  width: 121px;
}

#img_service {
  height: 247px;
  width: 50%;
  background: url(../../images/header_contact.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}


/*________________________page inspiration _____________________*/
#header_inspiration {
  background: url('../../images/header_inspi.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 650px;
}

#section_inspiration {
  background-color: white;
  height: 760px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#section_inspiration h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

}

.cnt_inspiration {
  display: flex;
  flex-direction: row;
}

#contenu_inspiration {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
}

#contenu_inspiration img {
  width: 403px;
  height: 218px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

.card_inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
}

/* Modal Content */
.modal-content {
  position: relative;

  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 4px;
  font-size: 54px;
  font-weight: 800;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.myImg {
  display: none;
  margin-top: -5%;
  height: 520px;
  width: 1280px;
}

.cursor {
  cursor: pointer;
}

.img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*__________________page loader_____________________________*/
#body_loader {
  background-color: white;
}

#header_loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #B7B7A4;
}

#main_loader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 800px;

}

#footer_loader {
  background: rgba(30, 30, 30, 0.82);
  height: 60px;
  color: white;
}

#footer_loader h2 {
  text-align: center;
  font-size: 40px;
}

#loader {
  border: 10px solid black;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin89345 1s linear infinite;
}

#loader {
  border: 10px solid black;
  border-left-color: transparent;
  width: 236px;
  height: 236px;
}

#loader {
  border: 10px solid black;
  border-left-color: transparent;
  width: 236px;
  height: 236px;

}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loader_txt {
  font-size: x-large;
  text-align: center;
  width: 170px;

}



/*_______________page services _________________*/
#main_service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 786px;
}

#titre_service {
  text-align: center;
  height: 100px;
}

#titre_service h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

}

.ctn_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*tab*/
.tabs {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  font-size: larger;
}

.tab {
  padding: 20px 20px;
  background-color: #C7815C;
  cursor: pointer;
  box-shadow: 2px 3px 6px 0px #41433d;
}

.tab_contenu {
  background-color: #C7815C;
  height: 623px;
  width: 100%;
}

#tab1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 623px;
  width: 100%;
}

.tab:hover {
  background-color: #A76F51;
}


.ctn_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: x-large;
  width: 55%;
  padding: 21px;
}

.ctn_1_img img {

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tab-content {
  display: none;
}

.active {
  display: block;
}



/*__________________________________*/


.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
/*_______________page produit _________________*/

#header_produit {
    background: url(../../images/header_produit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

#main_produit {
  background-color:white;
}
#section_produit {
    background-color: white;
    height: 760px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}
#section_produit h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}


.filterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    display: none;
  }
  .filterDiv img {
    width:500px;
    height:650px;
    object-fit:cover;
  }
  .show {
    display: block;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

.ctn-confort , .ctn-surface, .ctn-deco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.ctn-confort img , .ctn-surface img , .ctn-deco img {
    width: 403px;
    height: 218px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
      margin-bottom: 6%;
}
.titre_prod h4 {
  text-align:center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

}

  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  #dropbtn {
 
    width: 369px;
    height: 57px;
    left: 548px;
    top: 411px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

  }
  
  #dropbtn:hover, .dropbtn:focus {
    background-color: #388547;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 335px;
    height: 57px;
    left: 548px;
    top: 411px;
    background: #6b705c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: -2%;
    display: block;
    text-align: center;
}
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}






/*version mobile*/

@media only screen and (max-width : 767px) {

  /*_____________________général_______________________*/

  /*footer*/
  /*modification dde la disposition des élements */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115px;
    background: rgba(30, 30, 30, 0.82);
  }

  p#logo_footer {
    line-height: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 25px;
  }

  .footer a {

    font-size: 15px;
    margin-bottom: 6px;
  }

  /*__________________________page accueil (index.html)___________________________*/
  /*carrousel*/
  /*modification de la hauteur du carrousel */
  .carousel {
    height: 222px;
  }

  #slider {
    height: 222px;
  }

  .slide {
    height: 222px;
  }

  .slide img {
    height: 222px;
  }

  /*main*/
  /*section inspiration*/
  /*suppresion de div img_inspiration + modification du div txt_inspiration*/
  #img_inspiration {
    display: none;
  }

  #txt_inspiration {
    width: 100%;
  }

  /*section services*/
  /*suppresion de div img_inspiration + modification du div txt_inspiration*/
  #img_service {
    display: none;
  }

  #txt_service {
    width: 100%;
  }

  /*____________________________page inspiration_______________________*/


  #header_inspiration {
    height: 222px;
  }

  #section_inspiration {
    background-color: #B7B7A4;
    height: 905px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  #section_inspiration h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

  }

  .cnt_inspiration {
    flex-direction: column;
  }

  #contenu_inspiration {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 276px;

  }


  #contenu_inspiration img {
    width: 150px;
    height: 180px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
  }

  .myImg {
    width: 351px;
    height: 100%;
    object-fit: cover;
  }

  .card_inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6%;
  }

  /* The Modal (background) */

  .modal {
    padding-top: 127px;
    backdrop-filter: brightness(0.5);
  }

  /* Modal Content */
  .modal-content {
    position: relative;

    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    right: 4px;
    font-size: 35px;
    font-weight: 800;
    background-color: #8080806e;
    border-radius: 59%;
    height: 11%;
    padding-bottom: 7px;
  }



  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  /**/
  /*____________________________page inspiration_______________________*/


  #header_produit {
    height: 222px;
  }

  #section_produit {
    background-color: #B7B7A4;
    height: 905px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  #section_produit h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

  }

  .cnt_inspiration {
    flex-direction: column;
  }

.ctn-confort , .ctn-surface, .ctn-deco {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 276px;

  }


   .ctn-confort img , .ctn-surface img , .ctn-deco img{
    width: 150px;
    height: 180px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
  }

}